/*********************************************************************
*  =content
*********************************************************************/

/*********************************************************************
*  =readme

hc = heart-color
bbc = button-background-color

*********************************************************************/


$bc: #fff;
$hc:#9e525f;
$white:#fff;
$bbc:#f48e9c;

.download {
  padding: 20px 0; 
}

.download .container {
	background-color:$white;
}

.btn-lovely {
   color: #fff;
   background-color:$bbc; 
}