/*********************************************************************
*  =Header

legend:
$bc = base color;
*********************************************************************/


$bb:#9e525f;
$white:#fff;
$heart-color:#9e525f;

.navbar-lovelycss {
  background-color:$bb;
  background-repeat: repeat-x;
}

.logo-lovelycss{
	color:$white;
	padding:15px 15px;
	float:left;
}

.ls-2x {
  font-size: 0.8em;
}
.fa-heart {
	color:$heart-color;
}

.jumbotron h1, .jumbotron .h1 .logo {
  font-size: 20em; /* 320px ÷ 16px */
  line-height: 0.13em; /* 42px ÷ 320px */
  margin-bottom: 0.25em; /* no rules for the moment*/
  color: $white;
}

.jumbotron {
	background-color:#f48e9c;
}

.jumbotron .container {
  // display: table-cell;
    text-align: center;
    vertical-align: middle;
}
// .jumbotron .container h1 {
//    margin: 0;
//     padding: 0;
//     font-size: 20em;
// }

.jumbotron .container p {
   color: $white;
}

.jumbotron .container .text {
   width: 70%;
   margin: 0 auto 30px;
}